.bg-red{ background: red; }
.bg-white{ background: white; }
.center { text-align: center; }
.color-white { color: white; }
.color-black { color: black; }
.title-contain{ font-size: 36px; padding-top:80px; padding-bottom: 80px; font-weight: bold;  }
.content-main {
   padding-bottom: 140px;
}
.text-just{ text-align: justify;}
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.content-main {max-width: 1024px; margin: 0px auto;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }